@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--green: hsl(75, 94%, 57%);
	--white: hsl(0, 0%, 100%);
	--grey-700: hsl(0, 0%, 20%);
	--grey-800: hsl(0, 0%, 12%);
	--grey-900: hsl(0, 0%, 8%);

	--font-main: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

	--radius-card: 1rem;
	--radius-button: 0.75rem;
}

body {
	background-color: var(--grey-900);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--white);
	font-family: var(--font-main);
	padding: 0;
	margin: 0;
}

section {
	display: flex;
	flex-direction: column;
	background-color: var(--grey-800);
	border-radius: 1rem;
	width: 280px;
	padding: 1.25rem 0;
}

h1 {
	color: hsl(0, 0%, 100%);
	margin-top: 1rem;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.75rem;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 0;
}

main li,
main a {
	width: 260px;
	background-color: var(--grey-700);
	border-radius: var(--radius-card);
	line-height: 3rem;
	margin: auto;
	font-weight: 600;
	color: var(--white);
	text-decoration: none;
}

main li:hover,
main li:hover a {
	background-color: var(--green);
	color: black;
}

img {
	border-radius: 50%;
	width: 30%;
	margin: 0 auto;
}

p:not(.location) {
	font-size: 0.875rem;
}

.location {
	color: hsl(75, 94%, 57%);
}

.attribution {
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 1px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 48rem) {
	section {
		padding: 2rem 3rem;
	}
}
